<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
                     <form  method="post" action="{% url 'updateproduct' dataid=data.id %}"enctype="multipart/form-data">
                 {% csrf_token %}
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Category:</label>
							<div class="col-sm-12 col-md-10">
								<select name="category">
									<option>Select Category</option>
									{% for i in da %}
								    <option>{{i.Name}}</option>
									{% endfor %}
								</select>
							</div>
                        </div><br><br>
						 <div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Product Name:</label>
							<div class="col-sm-12 col-md-10">
								<input class="form-control" type="text" placeholder="Enter Product Name" name="pname" value="{{data.ProductName}}">
							</div>
                         </div><br><br>
                         <div class="form-group">
							<label>Description:</label>
							<textarea style="width:100%" class="form-control" name="description" >{{data.Description}}</textarea>
						 </div><br><br>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Quantity</label>
							<div class="col-sm-12 col-md-10">
								<input  class="form-control" value="{{data.Quantity}}" type="number" name="quantity">
							</div>
						</div>
                         <div class="form-group">
							<label>Price:</label>
							<input type="text" style="width:100%" class="form-control" name="price" value="{{data.Price}}">
						 </div><br><br>
                        <div>
                        <label>Choose an Image:</label>
					    <img src="{{data.Image.url}}" width="100px" height="100px">
                        <input type="file" name="img">
						</div>
	                    <button type="submit" class="btn btn-outline-primary">Click Here</button>
					</form>


</body>
</html>
{% endblock %}
